<div class="container">
  <div class="title">
    <h1>
      Welcome to {{title}}
    </h1>
  </div>
  <div class="sample-text">
    <p>Scroll down!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et homini, qui
      ceteris animantibus plurimum praestat, praecipue a natura nihil datum esse
      dicemus? Quis Pullum Numitorium Fregellanum, proditorem, quamquam rei
      publicae nostrae profuit, non odit? Levatio igitur vitiorum magna fit in
      iis, qui habent ad virtutem progressionis aliquantum. Multoque hoc melius
      nos veriusque quam Stoici. Itaque nostrum est-quod nostrum dico, artis
      est-ad ea principia, quae accepimus. Duo Reges: constructio interrete.
      Itaque mihi non satis videmini considerare quod iter sit naturae quaeque
      progressio. Restincta enim sitis stabilitatem voluptatis habet, inquit,
      illa autem voluptas ipsius restinctionis in motu est. Quod cum dixissent,
      ille contra. Quos qui tollunt et nihil posse percipi dicunt, ii remotis
      sensibus ne id ipsum quidem expedire possunt, quod disserunt. </p>

    <p>Ergo, si semel tristior effectus est, hilara vita amissa est? Tantum
      dico, magis fuisse vestrum agere Epicuri diem natalem, quam illius
      testamento cavere ut ageretur. Nam prius a se poterit quisque discedere
      quam appetitum earum rerum, quae sibi conducant, amittere. Ut in voluptate
      sit, qui epuletur, in dolore, qui torqueatur. Quam haec sunt contraria!
      hic si definire, si dividere didicisset, si loquendi vim, si denique
      consuetudinem verborum teneret, numquam in tantas salebras incidisset.
      Semper enim ex eo, quod maximas partes continet latissimeque funditur,
      tota res appellatur. Ista ipsa, quae tu breviter: regem, dictatorem,
      divitem solum esse sapientem, a te quidem apte ac rotunde; </p>

    <p>Cum enim summum bonum in voluptate ponat, negat infinito tempore aetatis
      voluptatem fieri maiorem quam finito atque modico. Quae similitudo in
      genere etiam humano apparet. Eorum enim omnium multa praetermittentium,
      dum eligant aliquid, quod sequantur, quasi curta sententia; Aliter enim
      nosmet ipsos nosse non possumus. Itaque primos congressus copulationesque
      et consuetudinum instituendarum voluntates fieri propter voluptatem; Non
      dolere, inquam, istud quam vim habeat postea videro; Quod enim
      vituperabile est per se ipsum, id eo ipso vitium nominatum puto, vel etiam
      a vitio dictum vituperari. Si ad corpus pertinentibus, rationes tuas te
      video compensare cum istis doloribus, non memoriam corpore perceptarum
      voluptatum; Quae tamen a te agetur non melior, quam illae sunt, quas
      interdum optines. At iam decimum annum in spelunca iacet. </p>

    <p>Eorum enim est haec querela, qui sibi cari sunt seseque diligunt. Non
      minor, inquit, voluptas percipitur ex vilissimis rebus quam ex
      pretiosissimis. Ergo hoc quidem apparet, nos ad agendum esse natos. Non
      igitur potestis voluptate omnia dirigentes aut tueri aut retinere
      virtutem. Bona autem corporis huic sunt, quod posterius posui, similiora.
      Atqui, inquam, Cato, si istud optinueris, traducas me ad te totum licebit.
      Itaque et manendi in vita et migrandi ratio omnis iis rebus, quas supra
      dixi, metienda. Nam si beatus umquam fuisset, beatam vitam usque ad illum
      a Cyro extructum rogum pertulisset. Et si in ipsa gubernatione neglegentia
      est navis eversa, maius est peccatum in auro quam in palea. Virtutibus
      igitur rectissime mihi videris et ad consuetudinem nostrae orationis vitia
      posuisse contraria. Quae cum ita sint, effectum est nihil esse malum, quod
      turpe non sit. </p>

    <p>Restincta enim sitis stabilitatem voluptatis habet, inquit, illa autem
      voluptas ipsius restinctionis in motu est. In qua quid est boni praeter
      summam voluptatem, et eam sempiternam? Hoc dictum in una re latissime
      patet, ut in omnibus factis re, non teste moveamur. Illud dico, ea, quae
      dicat, praeclare inter se cohaerere. Non igitur potestis voluptate omnia
      dirigentes aut tueri aut retinere virtutem. </p>

    <p>Illud autem ipsum qui optineri potest, quod dicitis, omnis animi et
      voluptates et dolores ad corporis voluptates ac dolores pertinere?
      Virtutibus igitur rectissime mihi videris et ad consuetudinem nostrae
      orationis vitia posuisse contraria. Hoc autem tempore, etsi multa in omni
      parte Athenarum sunt in ipsis locis indicia summorum virorum, tamen ego
      illa moveor exhedra. Itaque et vivere vitem et mori dicimus arboremque et
      novellan et vetulam et vigere et senescere. Immo vero, inquit, ad
      beatissime vivendum parum est, ad beate vero satis. A villa enim, credo,
      et: Si ibi te esse scissem, ad te ipse venissem. Hos contra singulos dici
      est melius. Totum genus hoc Zeno et qui ab eo sunt aut non potuerunt aut
      noluerunt, certe reliquerunt. Atque omnia quidem scire, cuiuscumque modi
      sint, cupere curiosorum, duci vero maiorum rerum contemplatione ad
      cupiditatem scientiae summorum virorum est putandum. Ego quoque, inquit,
      didicerim libentius si quid attuleris, quam te reprehenderim. </p>

    <p>Quae etsi mihi nullo modo probantur, tamen Democritum laudatum a ceteris
      ab hoc, qui eum unum secutus esset, nollem vituperatum. Ut optime,
      secundum naturam affectum esse possit. Addebat etiam se in legem Voconiam
      iuratum contra eam facere non audere, nisi aliter amicis videretur. </p>

    <p>Legimus tamen Diogenem, Antipatrum, Mnesarchum, Panaetium, multos alios
      in primisque familiarem nostrum Posidonium. Inde sermone vario sex illa a
      Dipylo stadia confecimus. Quodsi, ne quo incommodo afficiare, non
      relinques amicum, tamen, ne sine fructu alligatus sis, ut moriatur
      optabis. Qua igitur re ab deo vincitur, si aeternitate non vincitur? Audax
      negotium, dicerem impudens, nisi hoc institutum postea translatum ad
      philosophos nostros esset. Nunc haec primum fortasse audientis servire
      debemus. Sunt etiam turpitudines plurimae, quae, nisi honestas natura
      plurimum valeat, cur non cadant in sapientem non est facile defendere.
      Cenasti in vita numquam bene, cum omnia in ista Consumis squilla atque
      acupensere cum decimano. Animi enim quoque dolores percipiet omnibus
      partibus maiores quam corporis. Quamquam te quidem video minime esse
      deterritum. Haec para/doca illi, nos admirabilia dicamus. At eum nihili
      facit; Nec tamen ullo modo summum pecudis bonum et hominis idem mihi
      videri potest. </p>

    <p>Quo plebiscito decreta a senatu est consuli quaestio Cn. Contineo me ab
      exemplis. Sed haec quidem liberius ab eo dicuntur et saepius. Non perfecti
      autem homines et tamen ingeniis excellentibus praediti excitantur saepe
      gloria, quae habet speciem honestatis et similitudinem. At quanta
      conantur! Mundum hunc omnem oppidum esse nostrum! Incendi igitur eos, qui
      audiunt, vides. Quid, cum volumus nomina eorum, qui quid gesserint, nota
      nobis esse, parentes, patriam, multa praeterea minime necessaria? Ac ne
      plura complectar-sunt enim innumerabilia-, bene laudata virtus voluptatis
      aditus intercludat necesse est. Nam, ut sint illa vendibiliora, haec
      uberiora certe sunt. Alia quaedam dicent, credo, magna antiquorum esse
      peccata, quae ille veri investigandi cupidus nullo modo ferre potuerit.
      Quid est, quod ab ea absolvi et perfici debeat? Totum genus hoc Zeno et
      qui ab eo sunt aut non potuerunt aut noluerunt, certe reliquerunt. </p>

    <p>Nec tamen exprimi verbum e verbo necesse erit, ut interpretes indiserti
      solent, cum sit verbum, quod idem declaret, magis usitatum. Aut, si nihil
      malum, nisi quod turpe, inhonestum, indecorum, pravum, flagitiosum,
      foedum-ut hoc quoque pluribus nominibus insigne faciamus-, quid praeterea
      dices esse fugiendum? Cuius similitudine perspecta in formarum specie ac
      dignitate transitum est ad honestatem dictorum atque factorum. Ita multo
      sanguine profuso in laetitia et in victoria est mortuus. Hic Speusippus,
      hic Xenocrates, hic eius auditor Polemo, cuius illa ipsa sessio fuit, quam
      videmus. Cum autem negant ea quicquam ad beatam vitam pertinere, rursus
      naturam relinquunt. Sed ad haec, nisi molestum est, habeo quae velim.
      Reliqui sibi constiterunt, ut extrema cum initiis convenirent, ut
      Aristippo voluptas, Hieronymo doloris vacuitas, Carneadi frui principiis
      naturalibus esset extremum. Quod autem in homine praestantissimum atque
      optimum est, id deseruit. Sextilio Rufo, cum is rem ad amicos ita
      deferret, se esse heredem Q. Nec tamen ullo modo summum pecudis bonum et
      hominis idem mihi videri potest. Atqui iste locus est, Piso, tibi etiam
      atque etiam confirmandus, inquam; Quin etiam ferae, inquit Pacuvius,
      quíbus abest, ad praécavendum intéllegendi astútia, iniecto terrore mortis
      horrescunt. Ita fit illa conclusio non solum vera, sed ita perspicua, ut
      dialectici ne rationem quidem reddi putent oportere: si illud, hoc;
      Innumerabilia dici possunt in hanc sententiam, sed non necesse est. </p>

    <p>Utrum igitur tibi non placet, inquit, virtutisne tantam esse vim, ut ad
      beate vivendum se ipsa contenta sit? Quod enim ne vivus quidem, inquit,
      diutius sentire poterat, quam dum fruebatur, quo modo id potuit mortuo
      permanere? Quid, cum volumus nomina eorum, qui quid gesserint, nota nobis
      esse, parentes, patriam, multa praeterea minime necessaria? Chrysippus
      autem exponens differentias animantium ait alias earum corpore excellere,
      alias autem animo, non nullas valere utraque re; Quoniam, si dis placet,
      ab Epicuro loqui discimus. At vero si ad vitem sensus accesserit, ut
      appetitum quendam habeat et per se ipsa moveatur, quid facturam putas?
      Ergo infelix una molestia, fellx rursus, cum is ipse anulus in praecordiis
      piscis inventus est? Commoda autem et incommoda in eo genere sunt, quae
      praeposita et reiecta diximus; </p>

    <p>Minime vero probatur huic disciplinae, de qua loquor, aut iustitiam aut
      amicitiam propter utilitates adscisci aut probari. Virtutis, magnitudinis
      animi, patientiae, fortitudinis fomentis dolor mitigari solet. Quod cum
      accidisset ut alter alterum necopinato videremus, surrexit statim. Atque
      hoc loco similitudines eas, quibus illi uti solent, dissimillimas
      proferebas. Ratio ista, quam defendis, praecepta, quae didicisti, quae
      probas, funditus evertunt amicitiam, quamvis eam Epicurus, ut facit, in
      caelum efferat laudibus. Studet enim meus is audire Cicero quaenam sit
      istius veteris, quam commemoras, Academiae de finibus bonorum
      Peripateticorumque sententia. At eum nihili facit; Quis Aristidem non
      mortuum diligit? Quicquid enim a sapientia proficiscitur, id continuo
      debet expletum esse omnibus suis partibus; Huic ego, si negaret quicquam
      interesse ad beate vivendum quali uteretur victu, concederem, laudarem
      etiam; Omnibus enim artibus volumus attributam esse eam, quae communis
      appellatur prudentia, quam omnes, qui cuique artificio praesunt, debent
      habere. Sit ista in Graecorum levitate perversitas, qui maledictis
      insectantur eos, a quibus de veritate dissentiunt. </p>

    <p>Parvi enim primo ortu sic iacent, tamquam omnino sine animo sint. Id enim
      ille summum bonum eu)qumi/an et saepe a)qambi/an appellat, id est animum
      terrore liberum. Cum ageremus, inquit, vitae beatum et eundem supremum
      diem, scribebamus haec. Intellegi quidem, ut propter aliam quampiam rem,
      verbi gratia propter voluptatem, nos amemus; </p>

    <p>Quid interest, nisi quod ego res notas notis verbis appello, illi nomina
      nova quaerunt, quibus idem dicant? Nec vero alia sunt quaerenda contra
      Carneadeam illam sententiam. Quid, cum volumus nomina eorum, qui quid
      gesserint, nota nobis esse, parentes, patriam, multa praeterea minime
      necessaria? Et quidem illud ipsum non nimium probo et tantum patior,
      philosophum loqui de cupiditatibus finiendis. Tum Triarius: Posthac
      quidem, inquit, audacius. Octavio fuit, cum illam severitatem in eo filio
      adhibuit, quem in adoptionem D. Sic consequentibus vestris sublatis prima
      tolluntur. Quae dici eadem de ceteris virtutibus possunt, quarum omnium
      fundamenta vos in voluptate tamquam in aqua ponitis. Non quaeritur autem
      quid naturae tuae consentaneum sit, sed quid disciplinae. Ait enim se, si
      uratur, Quam hoc suave! dicturum. </p>

    <p>Huic verbo omnes, qui ubique sunt, qui Latine sciunt, duas res subiciunt,
      laetitiam in animo, commotionem suavem iucunditatis in corpore. Quid, si
      reviviscant Platonis illi et deinceps qui eorum auditores fuerunt, et
      tecum ita loquantur? Nonne videmus quanta perturbatio rerum omnium
      consequatur, quanta confusio? Quid enim necesse est, tamquam meretricem in
      matronarum coetum, sic voluptatem in virtutum concilium adducere? Vide
      igitur ne non debeas verbis nostris uti, sententiis tuis. Nec enim absolvi
      beata vita sapientis neque ad exitum perduci poterit, si prima quaeque
      bene ab eo consulta atque facta ipsius oblivione obruentur. Quid ergo?
      Eiuro, inquit adridens, iniquum, hac quidem de re; Hac videlicet ratione,
      quod ea, quae externa sunt, iis tuemur officiis, quae oriuntur a suo
      cuiusque genere virtutis. Cum autem assumpta ratío est, tanto in dominatu
      locatur, ut omnia illa prima naturae hulus tutelae subiciantur. Ita fit
      beatae vitae domina fortuna, quam Epicurus ait exiguam intervenire
      sapienti. </p>

    <p>Possumusne ergo in vita summum bonum dicere, cum id ne in cena quidem
      posse videamur? Ut Phidias potest a primo instituere signum idque
      perficere, potest ab alio inchoatum accipere et absolvere, huic est
      sapientia similis; His singulis copiose responderi solet, sed quae
      perspicua sunt longa esse non debent. Ita, quem ad modum in senatu semper
      est aliquis, qui interpretem postulet, sic, isti nobis cum interprete
      audiendi sunt. Itaque non discedit ab eorum curatione, quibus praeposita
      vitam omnem debet gubernare, ut mirari satis istorum inconstantiam non
      possim. Eorum enim omnium multa praetermittentium, dum eligant aliquid,
      quod sequantur, quasi curta sententia; </p>

    <p>Num igitur utiliorem tibi hunc Triarium putas esse posse, quam si tua
      sint Puteolis granaria? Nec vero alia sunt quaerenda contra Carneadeam
      illam sententiam. Nihil enim desiderabile concupiscunt, plusque in ipsa
      iniuria detrimenti est quam in iis rebus emolumenti, quae pariuntur
      iniuria. Is enim, qui occultus et tectus dicitur, tantum abest ut se
      indicet, perficiet etiam ut dolere alterius improbe facto videatur. Et
      summatim quidem haec erant de corpore animoque dicenda, quibus quasi
      informatum est quid hominis natura postulet. Dolere malum est: in crucem
      qui agitur, beatus esse non potest. Si vero id etiam explanare velles
      apertiusque diceres nihil eum fecisse nisi voluptatis causa, quo modo eum
      tandem laturum fuisse existimas? An, partus ancillae sitne in fructu
      habendus, disseretur inter principes civitatis, P. Illa videamus, quae a
      te de amicitia dicta sunt. Atque his de rebus et splendida est eorum et
      illustris oratio. </p>

    <p>Quasi vero aut concedatur in omnibus stultis aeque magna esse vitia, et
      eadem inbecillitate et inconstantia L. Semovenda est igitur voluptas, non
      solum ut recta sequamini, sed etiam ut loqui deceat frugaliter. Stuprata
      per vim Lucretia a regis filio testata civis se ipsa interemit. Quid enim
      ab antiquis ex eo genere, quod ad disserendum valet, praetermissum est?
      Zenonis est, inquam, hoc Stoici. Sed haec omittamus; Atque haec coniunctio
      confusioque virtutum tamen a philosophis ratione quadam distinguitur.
      Quando enim Socrates, qui parens philosophiae iure dici potest, quicquam
      tale fecit? Quod autem principium officii quaerunt, melius quam Pyrrho;
    </p>

    <p>Cum audissem Antiochum, Brute, ut solebam, cum M. Sed haec ab Antiocho,
      familiari nostro, dicuntur multo melius et fortius, quam a Stasea
      dicebantur. Addebat etiam se in legem Voconiam iuratum contra eam facere
      non audere, nisi aliter amicis videretur. Cum sciret confestim esse
      moriendum eamque mortem ardentiore studio peteret, quam Epicurus
      voluptatem petendam putat. Et adhuc quidem ita nobis progresso ratio est,
      ut ea duceretur omnis a prima commendatione naturae. Sed tamen omne, quod
      de re bona dilucide dicitur, mihi praeclare dici videtur. Ita enim vivunt
      quidam, ut eorum vita refellatur oratio. Hoc uno captus Erillus scientiam
      summum bonum esse defendit nec rem ullam aliam per se expetendam. Tum
      ille: Finem, inquit, interrogandi, si videtur, quod quidem ego a principio
      ita me malle dixeram hoc ipsum providens, dialecticas captiones.
      Superiores tres erant, quae esse possent, quarum est una sola defensa,
      eaque vehementer. </p>

    <p>Hoc loco discipulos quaerere videtur, ut, qui asoti esse velint,
      philosophi ante fiant. Haec et tu ita posuisti, et verba vestra sunt. At
      cum de plurimis eadem dicit, tum certe de maximis. Quod cum ita sit,
      perspicuum est omnis rectas res atque laudabilis eo referri, ut cum
      voluptate vivatur. Dic in quovis conventu te omnia facere, ne doleas.
      Varietates autem iniurasque fortunae facile veteres philosophorum
      praeceptis instituta vita superabat. Scio enim esse quosdam, qui quavis
      lingua philosophari possint; </p>

    <p>Aut, si esses Orestes, Pyladem refelleres, te indicares et, si id non
      probares, quo minus ambo una necaremini non precarere? Quando enim
      Socrates, qui parens philosophiae iure dici potest, quicquam tale fecit?
      Atqui pugnantibus et contrariis studiis consiliisque semper utens nihil
      quieti videre, nihil tranquilli potest. Quoniamque in iis rebus, quae
      neque in virtutibus sunt neque in vitiis, est tamen quiddam, quod usui
      possit esse, tollendum id non est. Cum salvum esse flentes sui
      respondissent, rogavit essentne fusi hostes. Omnia contraria, quos etiam
      insanos esse vultis. Quare istam quoque aggredere tractatam praesertim et
      ab aliis et a te ipso saepe, ut tibi deesse non possit oratio. Possumusne
      hic scire qualis sit, nisi contulerimus inter nos, cum finem bonorum
      dixerimus, quid finis, quid etiam sit ipsum bonum? Itaque eos id agere, ut
      a se dolores, morbos, debilitates repellant. Quem quidem vos, cum improbis
      poenam proponitis, inpetibilem facitis, cum sapientem semper boni plus
      habere vultis, tolerabilem. Itaque e contrario moderati aequabilesque
      habitus, affectiones ususque corporis apti esse ad naturam videntur. </p>

    <p>Nam bonum ex quo appellatum sit, nescio, praepositum ex eo credo, quod
      praeponatur aliis. Deque his rebus satis multa in nostris de re publica
      libris sunt dicta a Laelio. Qui haec didicerunt, quae ille contemnit, sic
      solent: Duo genera cupiditatum, naturales et inanes, naturalium duo,
      necessariae et non necessariae. Omnem vim loquendi, ut iam ante
      Aristoteles, in duas tributam esse partes, rhetoricam palmae, dialecticam
      pugni similem esse dicebat, quod latius loquerentur rhetores, dialectici
      autem compressius. Quodsi, ne quo incommodo afficiare, non relinques
      amicum, tamen, ne sine fructu alligatus sis, ut moriatur optabis. Quod cum
      accidisset ut alter alterum necopinato videremus, surrexit statim. Quod si
      ita est, sequitur id ipsum, quod te velle video, omnes semper beatos esse
      sapientes. Sed ad haec, nisi molestum est, habeo quae velim. Sed
      emolumenta communia esse dicuntur, recte autem facta et peccata non
      habentur communia. Tantum dico, magis fuisse vestrum agere Epicuri diem
      natalem, quam illius testamento cavere ut ageretur. Illud quaero, quid ei,
      qui in voluptate summum bonum ponat, consentaneum sit dicere. Omnia
      peccata paria dicitis. Quicquid porro animo cernimus, id omne oritur a
      sensibus; </p>

    <p>Itaque primos congressus copulationesque et consuetudinum instituendarum
      voluntates fieri propter voluptatem; His singulis copiose responderi
      solet, sed quae perspicua sunt longa esse non debent. Quos quidem dies
      quem ad modum agatis et in quantam hominum facetorum urbanitatem
      incurratis, non diconihil opus est litibus-; Si in ipso corpore multa
      voluptati praeponenda sunt, ut vires, valitudo, velocitas, pulchritudo,
      quid tandem in animis censes? Nos quidem Virtutes sic natae sumus, ut tibi
      serviremus, aliud negotii nihil habemus. Quocirca intellegi necesse est in
      ipsis rebus, quae discuntur et cognoscuntur, invitamenta inesse, quibus ad
      discendum cognoscendumque moveamur. Multa sunt dicta ab antiquis de
      contemnendis ac despiciendis rebus humanis; Quae hic rei publicae vulnera
      inponebat, eadem ille sanabat. Nam illud quidem adduci vix possum, ut ea,
      quae senserit ille, tibi non vera videantur. Ex eorum enim scriptis et
      institutis cum omnis doctrina liberalis, omnis historia. An eum discere ea
      mavis, quae cum plane perdidiceriti nihil sciat? </p>

    <p>Stulti autem malorum memoria torquentur, sapientes bona praeterita grata
      recordatione renovata delectant. Nec vero ut voluptatem expetat, natura
      movet infantem, sed tantum ut se ipse diligat, ut integrum se salvumque
      velit. Pauca mutat vel plura sane; Ergo in gubernando nihil, in officio
      plurimum interest, quo in genere peccetur. Iis igitur est difficilius
      satis facere, qui se Latina scripta dicunt contemnere. Scripta sane et
      multa et polita, sed nescio quo pacto auctoritatem oratio non habet. Ita
      finis bonorum existit secundum naturam vivere sic affectum, ut optime is
      affici possit ad naturamque accommodatissime. Erit enim instructus ad
      mortem contemnendam, ad exilium, ad ipsum etiam dolorem. </p>

    <p>Itaque e contrario moderati aequabilesque habitus, affectiones ususque
      corporis apti esse ad naturam videntur. Quae dici eadem de ceteris
      virtutibus possunt, quarum omnium fundamenta vos in voluptate tamquam in
      aqua ponitis. Si verbum sequimur, primum longius verbum praepositum quam
      bonum. Et quoniam haec deducuntur de corpore quid est cur non recte
      pulchritudo etiam ipsa propter se expetenda ducatur? Non pugnem cum
      homine, cur tantum habeat in natura boni; Atque ab isto capite fluere
      necesse est omnem rationem bonorum et malorum. Est autem eius generis
      actio quoque quaedam, et quidem talis, ut ratio postulet agere aliquid et
      facere eorum. Vides igitur te aut ea sumere, quae non concedantur, aut ea,
      quae etiam concessa te nihil iuvent. Nam illud quidem adduci vix possum,
      ut ea, quae senserit ille, tibi non vera videantur. Eam si varietatem
      diceres, intellegerem, ut etiam non dicente te intellego; Satis est tibi
      in te, satis in legibus, satis in mediocribus amicitiis praesidii. Ex ea
      difficultate illae fallaciloquae, ut ait Accius, malitiae natae sunt. </p>

    <p>Fadio Gallo, cuius in testamento scriptum esset se ab eo rogatum ut omnis
      hereditas ad filiam perveniret. Portenta haec esse dicit, neque ea ratione
      ullo modo posse vivi; Quid sequatur, quid repugnet, vident. Immo alio
      genere; Quid enim dicis omne animal, simul atque sit ortum, applicatum
      esse ad se diligendum esseque in se conservando occupatum? Nec vero
      intermittunt aut admirationem earum rerum, quae sunt ab antiquis repertae,
      aut investigationem novarum. De maximma autem re eodem modo, divina mente
      atque natura mundum universum et eius maxima partis administrari. Nec mihi
      illud dixeris: Haec enim ipsa mihi sunt voluptati, et erant illa
      Torquatis. Aderamus nos quidem adolescentes, sed multi amplissimi viri,
      quorum nemo censuit plus Fadiae dandum, quam posset ad eam lege Voconia
      pervenire. Nunc vero a primo quidem mirabiliter occulta natura est nec
      perspici nec cognosci potest. </p>

    <p>Nam e quibus locis quasi thesauris argumenta depromerentur, vestri ne
      suspicati quidem sunt, superiores autem artificio et via tradiderunt. Sed
      ne, dum huic obsequor, vobis molestus sim. Qui non moveatur et offensione
      turpitudinis et comprobatione honestatis? Non enim ipsa genuit hominem,
      sed accepit a natura inchoatum. Deinde concludebas summum malum esse
      dolorem, summum bonum voluptatem! Lucius Thorius Balbus fuit, Lanuvinus,
      quem meminisse tu non potes. Atqui perspicuum est hominem e corpore
      animoque constare, cum primae sint animi partes, secundae corporis. Non
      est ista, inquam, Piso, magna dissensio. Ergo infelix una molestia, fellx
      rursus, cum is ipse anulus in praecordiis piscis inventus est? </p>

    <p>Unum nescio, quo modo possit, si luxuriosus sit, finitas cupiditates
      habere. Neque enim civitas in seditione beata esse potest nec in discordia
      dominorum domus; Ex quo magnitudo quoque animi existebat, qua facile
      posset repugnari obsistique fortunae, quod maximae res essent in potestate
      sapientis. Huic ego, si negaret quicquam interesse ad beate vivendum quali
      uteretur victu, concederem, laudarem etiam; Istam voluptatem perpetuam
      quis potest praestare sapienti? </p>

    <p>Haec et tu ita posuisti, et verba vestra sunt. Cupiditates non Epicuri
      divisione finiebat, sed sua satietate. Numquam hoc ita defendit Epicurus
      neque Metrodorus aut quisquam eorum, qui aut saperet aliquid aut ista
      didicisset. Pollicetur certe. Non enim in selectione virtus ponenda erat,
      ut id ipsum, quod erat bonorum ultimum, aliud aliquid adquireret. At
      quanta conantur! Mundum hunc omnem oppidum esse nostrum! Incendi igitur
      eos, qui audiunt, vides. </p>

    <p>Primum non saepe, deinde quae est ista relaxatio, cum et praeteriti
      doloris memoria recens est et futuri atque inpendentis torquet timor? Quod
      cum dixissent, ille contra. Maximeque eos videre possumus res gestas
      audire et legere velle, qui a spe gerendi absunt confecti senectute. Istud
      quidem, inquam, optime dicis, sed quaero nonne tibi faciendum idem sit
      nihil dicenti bonum, quod non rectum honestumque sit, reliquarum rerum
      discrimen omne tollenti. Te ipsum, dignissimum maioribus tuis, voluptasne
      induxit, ut adolescentulus eriperes P. Et ille ridens: Age, age,
      inquit,-satis enim scite me nostri sermonis principium esse
      voluisti-exponamus adolescenti,. Quamquam ab iis philosophiam et omnes
      ingenuas disciplinas habemus; Te ipsum, dignissimum maioribus tuis,
      voluptasne induxit, ut adolescentulus eriperes P. Quae si potest singula
      consolando levare, universa quo modo sustinebit? Qua exposita scire cupio
      quae causa sit, cur Zeno ab hac antiqua constitutione desciverit, quidnam
      horum ab eo non sit probatum; </p>
  </div>
</div>
<app-back-to-top
  [acceleration]="2"
  [animate]="true"
  [scrollDistance]="50"
  [speed]="50"
>
</app-back-to-top>