<div class="container">
  <div class="title">
    <h1>
      Welcome to {{title}}
    </h1>
  </div>
  <div class="sample-text">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque arcu non dolor fringilla, eget convallis nisi
      ultricies. Integer nisl neque, interdum eu nulla finibus, scelerisque varius quam. Cras posuere mattis ornare. Integer
      non tristique nisl. Ut molestie ut tortor a efficitur. Pellentesque eu nisi lobortis, laoreet nisl quis, eleifend tortor.
      Maecenas non nulla tempus, pretium mi ac, pellentesque sem. Phasellus nec faucibus purus. Quisque non turpis et purus
      pulvinar sollicitudin. Mauris vitae odio aliquam, consectetur nisl vitae, efficitur augue. Nunc quis ultrices velit.
    </p>
    <p>
      Etiam dui erat, viverra vel tincidunt in, mattis et lorem. Ut eget venenatis dui. Aliquam bibendum fringilla dolor, eu hendrerit
      orci tincidunt id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque
      egestas lacus id urna sollicitudin, finibus finibus velit faucibus. Nulla id ipsum lacus. Curabitur auctor cursus elit.
      Donec ligula turpis, porta id scelerisque eget, tempus non est. In ut malesuada magna, ut molestie lacus. Etiam eget
      nunc porta nunc lacinia interdum. Donec fermentum sem non felis venenatis efficitur. Sed quis odio non augue feugiat
      euismod. Ut pulvinar molestie velit, non interdum dui suscipit sit amet. Quisque tempus felis dui, ultrices pellentesque
      nisl sagittis sed. Quisque vitae nibh eu nunc posuere varius.
    </p>
    <p>
      Curabitur et tincidunt lectus. Aliquam consectetur lacus ipsum, in convallis elit tempus eu. Cras sem lectus, tincidunt eget
      nisl ut, ornare ultrices arcu. Duis consectetur laoreet sem scelerisque posuere. Pellentesque lacus dui, tempus eu
      ornare eget, porta sed diam. Quisque at gravida mi, quis egestas justo. Proin tincidunt accumsan magna at egestas.
      Phasellus pretium diam quis mattis faucibus. Vestibulum rhoncus convallis orci ut rhoncus.
    </p>
    <p>
      Proin eros purus, ultrices ut tempor ac, congue eu velit. Etiam cursus odio quis iaculis pellentesque. Donec semper interdum
      semper. Aliquam id posuere ex. Nam et lectus quis dolor mattis tincidunt in vitae orci. Phasellus condimentum, est
      sit amet sagittis placerat, risus neque ornare enim, sit amet semper metus nisl vel lectus. Ut convallis lectus sed
      nunc aliquam maximus. Nulla congue a augue eget sagittis. Aenean auctor sit amet ante eget consectetur.
    </p>
    <p>
      Maecenas in mi convallis, posuere urna vel, dignissim mi. Fusce dignissim aliquam accumsan. Ut scelerisque tempor orci vestibulum
      bibendum. Maecenas maximus ultrices pulvinar. Ut maximus diam eget dui pretium, nec tincidunt tellus posuere. Morbi
      consequat faucibus orci consectetur semper. Pellentesque ac tempor dolor. Ut bibendum accumsan gravida.
    </p>
    <p>
      Pellentesque eget ante convallis, suscipit elit ac, commodo metus. Mauris facilisis nulla quam, id lobortis ex bibendum in.
      Proin mollis mauris magna. Nullam sit amet finibus tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Maecenas rhoncus mattis orci, et lobortis felis. Proin elit ipsum, lobortis in sodales tincidunt, mattis a velit.
    </p>
    <p>
      Nulla viverra, justo ut tristique dictum, nisl metus dictum nibh, eget eleifend mi erat id nibh. Aenean id felis nec felis
      tristique suscipit. Aliquam mauris massa, efficitur nec nibh a, blandit vulputate massa. Ut pretium enim viverra lectus
      efficitur imperdiet ac vulputate urna. Ut id pharetra leo. Duis libero ex, ultrices eget facilisis ut, aliquet vitae
      lorem. Proin sit amet arcu malesuada, eleifend enim ut, viverra magna. Praesent gravida est tortor, quis facilisis
      massa ultrices eu. Mauris id lacinia ante, ut commodo nisi. Nunc ultricies accumsan neque. Pellentesque leo purus,
      convallis quis condimentum eu, auctor eget odio.
    </p>
    <p>
      Cras sed ullamcorper purus, quis ullamcorper ex. Vivamus nulla risus, iaculis in tempus imperdiet, aliquet et lacus. Proin
      ac accumsan metus, non congue lorem. Donec iaculis sapien vitae tristique convallis. Maecenas lacinia malesuada quam,
      in tristique lectus sollicitudin sit amet. Aliquam luctus arcu eget risus facilisis, eget sagittis augue viverra. Sed
      rutrum augue ac porttitor gravida. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      mus. Nunc in neque velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Suspendisse eget elit tortor. Proin efficitur cursus vestibulum.
    </p>
    <p>
      Donec vel viverra sem, ut ullamcorper sapien. Donec tempor ante efficitur justo blandit pretium. Aliquam dictum, mi ac varius
      molestie, augue nisi tempus felis, eu sagittis ligula ante id elit. In a tortor ac arcu accumsan sodales. Praesent
      dictum luctus mauris quis blandit. Nullam metus nisi, consectetur id mauris a, accumsan condimentum ligula. In vel
      eros quam. Sed lacus massa, sollicitudin et cursus eget, euismod a tellus.
    </p>
    <p>
      Praesent vehicula at nisi vitae molestie. Maecenas sollicitudin sed tellus vel dignissim. Aenean consectetur aliquam maximus.
      Fusce at felis finibus, fringilla risus elementum, interdum nunc. Pellentesque eget dui non lorem sodales pulvinar
      quis nec magna. Nunc ut purus vestibulum, facilisis magna dapibus, condimentum nulla. Suspendisse placerat, massa eu
      semper consequat, felis sem interdum turpis, sit amet convallis arcu libero eget ligula. In euismod, diam in faucibus
      molestie, velit neque tincidunt ante, sed cursus tortor risus et enim. Duis aliquam eros id volutpat ultrices.
    </p>
    <p>
      Nam pretium sagittis nibh eu mollis. Pellentesque quis porta tortor, quis vulputate tellus. Sed nec scelerisque erat. Proin
      eu maximus mauris. Aliquam eget ullamcorper mauris, non rutrum enim. Nullam metus arcu, bibendum ut fermentum ac, scelerisque
      eu elit. Suspendisse vehicula libero eu blandit dictum. Quisque a pharetra elit, eget sodales sapien. Ut lobortis eget
      tellus nec lobortis. In hac habitasse platea dictumst. Suspendisse non augue felis. Donec congue nunc vitae ante semper,
      dignissim interdum felis interdum. Donec varius lacus a fringilla laoreet.
    </p>
    <p>
      Nullam neque lacus, tempus in purus ut, porta ultrices nulla. Suspendisse lobortis sollicitudin velit. Nulla condimentum
      orci consequat dui lacinia, nec lobortis dui imperdiet. Ut nisi nisi, sagittis nec sapien eget, sodales vestibulum
      est. Ut ex mauris, iaculis at commodo non, commodo pellentesque urna. In vel erat diam. Donec quam massa, iaculis ut
      mi sit amet, bibendum varius justo. Etiam convallis est et augue posuere pharetra. Integer at dui nec lorem pulvinar
      tristique. Quisque sodales aliquet arcu, nec tristique mauris.
    </p>
    <p>
      Maecenas mattis ante purus, eget porta velit finibus et. Pellentesque fermentum ante id nunc ornare, et fermentum lectus
      vulputate. Nunc elementum lorem ultrices mattis sodales. Vivamus eu bibendum ipsum. Morbi quis feugiat lacus. Curabitur
      id metus quis turpis condimentum efficitur sit amet sed felis. Integer tincidunt vel urna sit amet fringilla. Cras
      in hendrerit diam. Phasellus vel turpis turpis.
    </p>
    <p>
      Vivamus eget dictum lorem, ut laoreet nunc. Integer varius cursus arcu, ac fringilla enim pretium sed. Aliquam sollicitudin
      urna maximus mi hendrerit dignissim. Integer vehicula, nunc nec dignissim iaculis, augue lectus cursus sapien, vitae
      suscipit orci ante quis lectus. Curabitur malesuada, odio sollicitudin ornare cursus, erat magna sodales felis, nec
      malesuada sem felis eu velit. Curabitur mauris odio, consectetur ut est id, consectetur malesuada lorem. Mauris mi
      lorem, fermentum ut nisi pretium, accumsan sollicitudin magna. Suspendisse non posuere tortor. Maecenas accumsan lacinia
      diam, vitae elementum dui accumsan non. Pellentesque bibendum risus ac metus lacinia, interdum placerat augue iaculis.
      Nam sed ex convallis, ultricies massa a, aliquet augue.
    </p>
    <p>
      Praesent lobortis, risus in malesuada ultricies, ante mi euismod augue, vel ultrices ex nisl quis dui. Nunc dapibus fringilla
      nisl sed molestie. Ut fringilla rhoncus ullamcorper. Aliquam erat volutpat. Proin sit amet odio at sapien finibus volutpat.
      Pellentesque vehicula velit lobortis, convallis metus sed, bibendum augue. Suspendisse enim ipsum, pellentesque vitae
      odio viverra, pharetra dignissim est. Duis placerat massa quis ante consectetur, at luctus justo tincidunt. Ut et lacus
      ipsum. Vestibulum vitae est et quam fermentum venenatis. Sed condimentum neque eget faucibus hendrerit. Vestibulum
      non aliquet augue.
    </p>
    <p>
      Aliquam fringilla pretium elit, sit amet cursus tortor imperdiet sed. Integer gravida aliquam posuere. Etiam dictum nisi
      velit, nec ullamcorper ipsum rhoncus et. Maecenas scelerisque felis eu mattis placerat. Pellentesque porttitor vel
      tellus vitae ultrices. Cras finibus lacinia mauris, et pulvinar ipsum eleifend ac. Donec venenatis nisi eget purus
      cursus maximus. Nam sit amet sem auctor, bibendum ante nec, condimentum magna. Nulla erat ipsum, dapibus vel varius
      sit amet, consequat ut felis. Nulla facilisi. Proin maximus sagittis nibh eget rutrum. Nullam luctus pellentesque ornare.
      Pellentesque rutrum metus nec odio egestas, vel egestas eros condimentum. Quisque fringilla sagittis mi id bibendum.
    </p>
    <p>
      Donec a metus vel lorem lacinia pellentesque. Nulla fermentum interdum felis, eu mattis sem condimentum in. Nam sed volutpat
      leo, a imperdiet nunc. Duis sit amet semper enim, accumsan pellentesque orci. Vestibulum ornare nunc sit amet dapibus
      gravida. Nullam accumsan sollicitudin mattis. In imperdiet hendrerit tortor vitae varius. Cras eu molestie mi, lacinia
      eleifend leo. Vestibulum eget mattis turpis. Aliquam finibus suscipit sem id ultrices. Aenean eu porttitor massa. Curabitur
      laoreet, elit at sodales ultrices, arcu dolor consequat lectus, nec lacinia enim metus a urna. Maecenas convallis ante
      in molestie maximus. Ut consequat, diam eu rutrum finibus, nisi odio rhoncus magna, nec tristique purus justo eget
      leo. Donec ex dolor, elementum nec aliquet vel, aliquam in magna. Aliquam pharetra felis sem, vitae pretium est pellentesque
      in.
    </p>
    <p>
      Aliquam vitae orci sed neque ultrices molestie sed eu sapien. Curabitur maximus est id mollis suscipit. Maecenas nec ante
      hendrerit, pulvinar est in, pellentesque diam. Sed vitae euismod libero, ut mattis felis. Interdum et malesuada fames
      ac ante ipsum primis in faucibus. Suspendisse pretium egestas finibus. Curabitur condimentum ex vel sapien luctus,
      ut dignissim eros congue. In eu odio diam. Cras sit amet accumsan sem. Nulla vestibulum metus nec venenatis luctus.
      Ut vitae tincidunt erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
    <p>
      Mauris iaculis leo eu ipsum maximus, imperdiet malesuada orci interdum. Maecenas viverra sem est, sed malesuada mauris tempor
      quis. Sed ultricies consequat lacus, pretium cursus orci bibendum vel. Fusce ornare tincidunt ligula. Ut fringilla,
      nunc fringilla feugiat mollis, ligula magna posuere leo, quis efficitur urna erat vitae orci. Nullam nec metus semper
      diam rutrum blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </p>
    <p>
      Integer rutrum quam vitae malesuada condimentum. Quisque quis metus tortor. In non blandit nulla, in aliquet metus. In varius
      consequat est, non tristique tellus tincidunt sed. Morbi venenatis vitae risus non ultricies. Vivamus pulvinar ullamcorper
      mi eu eleifend. Phasellus iaculis tortor eu odio dapibus, vitae ultrices nunc lacinia. Integer ante nibh, dapibus euismod
      mauris sed, lobortis blandit massa.
    </p>
  </div>
</div>
<app-back-to-top [animate]="true" [speed]="50" [acceleration]="2" [scrollDistance]="50">
</app-back-to-top>
